MONGO_URI=mongodb://127.0.0.1:27017/nest_auth

JWT_ACCESS_SECRET=super_access_secret
JWT_REFRESH_SECRET=super_refresh_secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD_HASH=$2a$10$2JWO3zQpgyBCWDBt6tcGN.pt0TUE15N9siDw.5j9ScJGfIs49J.5.
